{% extends 'base.html'%}
{%import 'macros.html' as macro%}

<!-- content block -->
{% block content %}
<!-- General News -->
<h2>General</h2>
<ul>
    {{macro.displaySourceCategories(general)}}
</ul>
<!-- Business News -->
<ul>
    {{macro.displaySourceCategories(business)}}
</ul>
<!-- tech news -->
<h2>Technology</h2>
<ul>{{macro.displaySourceCategories(technology)}}
    </ul>
<!--science  -->
<h2>Science</h2>
<ul>
    {{macro.displaySourceCategories(science)}}
</ul>

<!-- Health -->
<h2>
    {{macro.displaySourceCategories(health)}}
</h2>

{% endblock %}