{% extends 'base.html'%}
{%import 'macros.html' as macro%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- content block -->
{% block content %}

<!-- General News -->
<div class="container-fluid" style="background-image: url(/app/static/assets/blue.jpg);" >
<h1 style="color: blue;">General</h1><br>

    {{macro.displaySourceCategories(general)}}
<hr>
<!-- Business News -->
<h1 style="color: blue;">Business</h1>

    {{macro.displaySourceCategories(business)}}
<hr>
<!-- tech news -->
<h1>Technology</h1><br>
{{macro.displaySourceCategories(technology)}}
    <hr>
<!--science  -->
<h1>Science</h1><br>

    {{macro.displaySourceCategories(science)}}
<hr>

<!-- Health -->
<h1>Heath</h1><br>
    {{macro.displaySourceCategories(health)}}
<hr>
</div>
{% endblock %}